<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<!-- Navigation Bar -->
	<nav class="navbar navbar-fixed-top header">
		<div class="col-md-12">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="../">HOME</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#navbar-collapse1">
					<i class="glyphicon glyphicon-search"></i>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="nav dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">SOCIAL <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="https://slipp.net" target="_blank">SLiPP</a></li>
							<li><a href="https://facebook.com" target="_blank">Facebook</a></li>
						</ul></li>
					<li><a href="/users">회원리스트</a></li>
				</ul>
				<form class="navbar-form navbar-left">
					<div class="input-group" style="max-width: 470px;">
						<input type="text" class="form-control" placeholder="Search"
							name="srch-term" id="srch-term">
						<div class="input-group-btn">
							<button class="btn btn-default btn-primary" type="submit">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>
					</div>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/users/login">LOGIN</a></li>
					<li><a href="/users/form">회원가입</a></li>
					<li class="nav dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false"> <i class="glyphicon glyphicon-user"></i>
							<span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li><a href="#" role="button">로그아웃</a></li>
							<li><a href="#" role="button">개인정보수정</a></li>
							<li><a href="user/profile.html"><i
									class="glyphicon glyphicon-user" style="color: #1111dd;"></i>
									Profile</a></li>
							<li class="nav-divider"></li>
							<li><a href="#"><i class="glyphicon glyphicon-cog"
									style="color: #dd1111;"></i> Settings</a></li>
						</ul></li>
				</ul>
			</div>
		</div>
	</nav>
</body>
</html>